.category-link {
    padding: 8px 0;
    text-decoration: none; 
    transition: color 0.8s;
    color: antiquewhite;
}

.category-link:hover {
    color: #007bff;
}


.sidebar {
    position: fixed;
    height: 100vh;
    width: 150px;
    transition: all 0.3s;
}


.header {
    color: wheat;
    display: flex;
}


.pos {
    position: fixed;
    background-color: white;
}


.product-card {
    display: flex;
    height: 300px;
    width: 150px;
    object-fit: cover;
}


.blk-content {
    margin-left: 180px;
}